<h1>Your Shopping Cart</h1>

<% if @cart_items.any? %>
  <% @cart_items.each do |cart_item| %>
    <div class="cart-item">
      <h3><%= cart_item.product.name %></h3>
      <%= image_tag cart_item.product.image, class: "cart-product-image" %>
      <p>Quantity: <%= cart_item.quantity %></p>
      <p>Price: £<%= cart_item.product.price * cart_item.quantity %></p>
      <%= button_to '+', user_cart_cart_item_path(@cart.user, @cart, cart_item, increment: true), method: :put, class: "add-button" %>
      <%= button_to '-', user_cart_cart_item_path(@cart.user, @cart, cart_item, decrement: true), method: :put, class:  "subtract-button" %>
      <%= link_to 'Remove', user_cart_cart_item_path(@cart.user, @cart, cart_item), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Checkout', checkout_path(product_id: @product.id) %>
    </div>
  <% end %>
<% else %>
  <p>Your cart is empty</p>
<% end %>

<div class="cart-summary">
  <h2>Cart Summary</h2>
  <p>Total Items: <%= @cart_items.sum(:quantity) %></p>
  <p>Total Price: £<%= @cart_items.map { |item| item.product.price * item.quantity }.sum %></p>
  <%# <%= link_to 'Checkout', new_order_path %> <!-- Make sure to uncomment and adjust this link if you're ready for checkout -->
</div>
