<h1>Order Details</h1>

<p>Status: <%= @order.status %></p>

<h2>Products Purchased</h2>


<% @order.products.each do |product| %>
  <div>
    <h3><%= product.name %></h3>
    <p>Description: <%= product.description %></p>
    <p>Price: <%= number_to_currency(product.price) %></p>
    <!-- Add more product information here as needed -->
    <%= debug @order.products %>
  </div>
<% end %>
