<div class="main-container">
  <div class="product-grid">
    <% @products.each_with_index do |product, index| %>
      <div class="product <%= index.even? ? 'white-bg' : 'black-bg' %>">
        <div class="image-container">
          <% if product && product.image.present? %>
            <%= image_tag product.image, class: "product-image" %>
          <% else %>
            <%= image_tag 'thumbnail_Villa-Abad-Syrah-Tempranillo 2 Background Removed.png', class: "product-image" %>
          <% end %>
        </div>
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
        <div class="product-info">
          <p>£<%= product.price %></p>
          <span class="divider">|</span>
          <p><%= product.vintage %></p>
          <span class="divider">|</span>
          <p><%= product.category %></p>
        </div>
        <%= button_to 'Add to cart', add_to_cart_product_path(product), method: :post, class: "cart-button" %>
      </div>
    <% end %>
  </div>
</div>
