<div class="main-container">
  <div class="product-grid">
    <% @products.each do |product| %>
      <div class="product">
        <div class="image-container">
          <%= image_tag 'Villa-Abad-Syrah-Tempranillo.jpg', class: "product-image" %>
        </div>
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
        <p>£<%= product.price %></p>
        <p><%= product.vintage %></p>
        <p><%= product.category %></p>
        <%= button_to 'Add to cart', product_orders_path(product), method: :post, class: "cart-button" %>
      </div>
    <% end %>
  </div>
</div>
