<%= stylesheet_link_tag('product')%>
<%= render partial: 'header' %>

<div class="main-container">
  <div class="product-grid">
    <% @products.each do |product| %>
      <div class="product">
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p><%= product.description %></p>
        <p><%= product.category%></p>
      </div>
    <%end%>
  </div>
</div>
