<div class="container">
    <h2> <%= @product.name %> </h2>
    <h4> £<%= @product.price%> </h4>
    <h5> <%= @product.vintage%> </h5>
    <div class="product_description_show_page">
      <p> <%= @product.description%> </p>
      <p class="product_category"><strong>Category:</strong> <%= @product.category %> </p>
    </div>
    <%= link_to 'Add Review', new_product_review_path(@product) %>
   <div class="cart-button">
   <%= link_to "Add to cart" , product_order_path(@product), class: "btn btn-secondary", data: { turbo_method: :post } %>
    </div>
   <%= link_to "Back to Wine list", products_path %>
</div>
