<section class="product-details">
 <div class="image-container">
    <%= image_tag 'thumbnail_Villa-Abad-Syrah-Tempranillo 2 Background Removed.png', class: "product-card-image" %>
  </div>
  <div class="details-container">
    <div class="product-title">
      <h1><%= @product.name %></h1>
    </div>
    <div class="product-description">
      <p><%= @product.description%> </p>
    </div>
    <div class="product-info">
      <p>£<%= @product.price %></p>
      <span class="divider">|</span>
      <p><%= @product.vintage %></p>
      <span class="divider">|</span>
      <p><%= @product.category %></p>
    </div>
    <div class="buttons">
      <%= button_to 'Add to cart', add_to_cart_product_path(@product), method: :post, class: "cart-button" %>
      <%= button_to 'Buy Now', new_product_purchase_path(@product), class: "cart-button"%>
      <%= link_to 'Add Review', new_product_review_path(@product) %>
      <%= link_to "Back to Wine list", products_path %>
    </div>
  </div>
</section>

  <%# <% @product.reviews.each do |review|%>
    <%# <div class='product-review'>
      <p><%= review.rating  <p>%>
      <%# <p><%= review.description</p>
    </div>
  <%#<%end %>
  <%= link_to "Back to Wine list", products_path %>
