<div class="container">
    <h2> <%= @product.name %> </h2>
    <h4> £<%= @product.price%> </h4>
    <h5> <%= @product.vintage%> </h5>
    <div class="product_description_show_page">
      <p> <%= @product.description%> </p>
      <p class="product_category"><strong>Category:</strong> <%= @product.category %> </p>
    </div>
     <%= link_to 'Add Review', new_product_review_path(@product) %>
     <% @product.reviews.each do |review|%>
     <div class='product-review'>
        <p><%= review.description%></p>
     </div>
     <%end %>
     <%= link_to "Back to Wine list", products_path %>
</div>
