<!DOCTYPE html>
<html>
<head>
  <title>/WAIN/</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= javascript_include_tag 'rails-ujs' %>
  <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbo-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
  <header>
    <div class="logo">/wʌɪn/</div>
    <nav>
      <div class="navbar">
        <ul class="navbar-items">
          <% if user_signed_in? && current_user.admin? %>
            <li class="navbar-item-button">
              <%= link_to "Admin", admin_products_path, class: "button-navbar" %>
            </li>
          <% else %>
            <li class="navbar-item-button"><%= link_to "About", about_path, class: "button-navbar" %></li>
            <li class="navbar-item-button"><%= link_to "Wine list", products_path, class: "button-navbar" %></li>
            <% if user_signed_in? %>
              <% cart = current_user.cart %>
              <% total_price = cart.cart_items.map { |item| item.product.price * item.quantity }.sum %>
              <% link_text = " - Total: £#{total_price}" %>
              <li class="navbar-item-button">
                <%= link_to(user_cart_path(current_user, current_user.cart), class: "button-navbar") do %>
                  <i class='bx bx-cart'></i> <%= link_text.html_safe %>
                <% end %>
              </li>
            <% end %>
          <% end %>
          <div class="navbar-item-button">
            <% if user_signed_in? %>
              <li class="sign-in-out"><%= link_to "Sign Out", destroy_user_session_path, data: { turbo: true, turbo_method: :delete } %></li>
            <% else %>
              <li class="sign-in-out"><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </div>
        </ul>
      </div>
    </nav>
  </header>
  <%= yield %>
  <%# <footer>
    <div class="footer">
      <div class="media-icons">
        <a href="#"> <i class='bx bxl-instagram'></i></a>
        <a href="#"> <i class='bx bxl-instagram'></i></a>
      </div>
    </div>
  </footer> %>
</body>
</html>
